streamlit
python-dotenv

langchain-core
langchain-classic
langchain-community

langchain-groq
langchain-huggingface
langchain-pinecone

pinecone

sentence-transformers
transformers
torch

huggingface-hub

pypdf

groq

scikit-learn